.connected {
    border-top: 5px solid lime;
}

.connecting {
    border-top: 5px solid yellow;
}

.disconnected {
    border-top: 5px solid red;
}

.light {
    width: 70px;
    height: 40px;
    background-color: #2a2f35;
    border: 1px solid #333333;
    border-radius: 2px;
    text-align: center;
    box-shadow: inset 0px 1px 0px 1px #3b424a;
}

.light > p {
    margin: 0;
    margin-top: 12%;
    font-weight: 500;
    font-size: 12px;
    color: white;
}

ul.lights {
    /* display: inline; */
    list-style: none;
    margin: 0 !important;
    padding: 0;
    background-color: #0a0f17;
    padding: 2px;
    width: 508px;
}

.light.light-on > p {
    color: #fffbf0;
}

/* .light.light-on {
    box-shadow: inset 0 0 19px 9px #ffc107b5;
    border: 1px solid #ffc107;
    color: #ffc107;
} */

.light.light-on > .lightIndicator {
    height: 2px;
    width: 60%;
    background-color: #2ecbe9;
    margin-left: 21%;
}

.lights li {
    list-style: none;
    padding: 0;
    /* margin: 0 !important; */
    display: inline-block;
    margin-right: 2px;
}


.fuelTanks {
    width: 100%;
    display: block;
    height: 100px;
    background-color: #0000006b;
    padding: 10px;
}

.fuelTank {
    /* color: black; */
    width: 50%;
    height: 80px;
    display: inline;
    background: #00000054;
}

div#rightTank {
    float: right;
}

div#leftTank {
    float: left;
}